node-red/flows_gt_mqtt_relay.json
[{"id":"ea35e341.ecc0e8","type":"tab","label":"GT relay","disabled":false,"info":""},{"id":"b5c73e7f.4c35","type":"mqtt in","z":"ea35e341.ecc0e8","name":"","topic":"#","qos":"2","datatype":"auto","broker":"166d5363.db720d","nl":false,"rap":true,"rh":0,"x":70,"y":160,"wires":[["f39e5d4e.a2f268","aa9edde0.94b5d"]]},{"id":"f39e5d4e.a2f268","type":"debug","z":"ea35e341.ecc0e8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":20,"wires":[]},{"id":"ab9b356a.0111d8","type":"mqtt out","z":"ea35e341.ecc0e8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"166d5363.db720d","x":370,"y":740,"wires":[]},{"id":"d01bcda6.83c738","type":"inject","z":"ea35e341.ecc0e8","name":"Relay1 ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/dingtian/relay5044/in/r1","payload":"ON","payloadType":"str","x":140,"y":660,"wires":[["ab9b356a.0111d8"]]},{"id":"d1d8dcc7.3bb2c","type":"inject","z":"ea35e341.ecc0e8","name":"Relay1 OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/dingtian/relay5044/in/r1","payload":"OFF","payloadType":"str","x":150,"y":700,"wires":[["ab9b356a.0111d8"]]},{"id":"aa9edde0.94b5d","type":"switch","z":"ea35e341.ecc0e8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"/dingtian/relay5044/out/ip","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/mac","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/relay_cnt","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/input_cnt ","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/relay1","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/relay2","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/input1","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/input2","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/lwt_availability","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/sn","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/relay1","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/relay2","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/input1","vt":"str"},{"t":"eq","v":"/dingtian/relay5044/out/input2","vt":"str"}],"checkall":"true","repair":false,"outputs":14,"x":230,"y":160,"wires":[["6346cdab.368c5c"],["2e1fb416.24b9bc"],["cebf5498.a64f6"],["f45f7dd5.d0634"],["28f56b0a.ccd794"],["c98c267b.cdc7b8"],["2ce31f48.8056c8"],["102be601.a3eb02"],["4b914aa8.43953c"],["3b85f0a1.b2c568"],["906335a9.23d518","9320c8d1.1149c"],["d8723c61.630bb8"],["67e45071.4fe23","eaf9a1c9.6f2bb8"],["ffa4462d.b63c48"]]},{"id":"6346cdab.368c5c","type":"debug","z":"ea35e341.ecc0e8","name":"IP address","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":40,"wires":[]},{"id":"2e1fb416.24b9bc","type":"debug","z":"ea35e341.ecc0e8","name":"Mac address","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"cebf5498.a64f6","type":"debug","z":"ea35e341.ecc0e8","name":"Relay Count","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"f45f7dd5.d0634","type":"debug","z":"ea35e341.ecc0e8","name":"Input Count","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":160,"wires":[]},{"id":"28f56b0a.ccd794","type":"debug","z":"ea35e341.ecc0e8","name":"Relay 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":200,"wires":[]},{"id":"c98c267b.cdc7b8","type":"debug","z":"ea35e341.ecc0e8","name":"Relay 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":240,"wires":[]},{"id":"2ce31f48.8056c8","type":"debug","z":"ea35e341.ecc0e8","name":"Input 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"102be601.a3eb02","type":"debug","z":"ea35e341.ecc0e8","name":"Input 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":320,"wires":[]},{"id":"4b914aa8.43953c","type":"debug","z":"ea35e341.ecc0e8","name":"wirelis","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":360,"wires":[]},{"id":"57bcbdd7.d8473c","type":"inject","z":"ea35e341.ecc0e8","name":"Relay2 ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/dingtian/relay5044/in/r2","payload":"ON","payloadType":"str","x":140,"y":740,"wires":[["ab9b356a.0111d8"]]},{"id":"2c8460fb.b4ec7","type":"inject","z":"ea35e341.ecc0e8","name":"Relay2 OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/dingtian/relay5044/in/r2","payload":"OFF","payloadType":"str","x":150,"y":780,"wires":[["ab9b356a.0111d8"]]},{"id":"83bece7c.abd61","type":"ui_button","z":"ea35e341.ecc0e8","name":"","group":"b3eca0e0.ece028","order":0,"width":0,"height":0,"passthru":false,"label":"Relay 1 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ON","payloadType":"str","topic":"relay1","topicType":"msg","x":130,"y":620,"wires":[["f44bde0.f625c2","6b7a5983.ffba58"]]},{"id":"5c0c1e5.337ee6","type":"ui_led","z":"ea35e341.ecc0e8","order":1,"group":"b3eca0e0.ece028","width":0,"height":0,"label":"Relay 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#008000","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":370,"y":480,"wires":[]},{"id":"3b85f0a1.b2c568","type":"debug","z":"ea35e341.ecc0e8","name":"Serial Number","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":400,"wires":[]},{"id":"ced6103e.046b6","type":"function","z":"ea35e341.ecc0e8","name":"","func":"var relay1 = msg.payload.status; //payload.status\nvar led = 0;\nif (relay1 === \"ON\"){\n    led = 1;\n}\nelse if (relay1 === \"OFF\")  \n{\n    led = 0;\n}\nmsg.payload = led;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":480,"wires":[["5c0c1e5.337ee6","fede6b15.6f88"]]},{"id":"fede6b15.6f88","type":"debug","z":"ea35e341.ecc0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":440,"wires":[]},{"id":"906335a9.23d518","type":"debug","z":"ea35e341.ecc0e8","name":"Relay 1 idx","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":440,"wires":[]},{"id":"d8723c61.630bb8","type":"debug","z":"ea35e341.ecc0e8","name":"Relay 2 idx","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"9320c8d1.1149c","type":"json","z":"ea35e341.ecc0e8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":380,"wires":[["ced6103e.046b6","fede6b15.6f88"]]},{"id":"7ab6fb56.1cd19c","type":"ui_button","z":"ea35e341.ecc0e8","name":"","group":"b3eca0e0.ece028","order":11,"width":0,"height":0,"passthru":false,"label":"Relay 1 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"OFF","payloadType":"str","topic":"relay1","topicType":"msg","x":130,"y":580,"wires":[["ab9b356a.0111d8","f44bde0.f625c2","6b7a5983.ffba58"]]},{"id":"f44bde0.f625c2","type":"debug","z":"ea35e341.ecc0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":640,"wires":[]},{"id":"6b7a5983.ffba58","type":"mqtt out","z":"ea35e341.ecc0e8","name":"","topic":"/dingtian/relay5044/in/r1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"166d5363.db720d","x":450,"y":680,"wires":[]},{"id":"bc2ab902.b1939","type":"ui_led","z":"ea35e341.ecc0e8","order":1,"group":"b3eca0e0.ece028","width":0,"height":0,"label":"Input 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#008000","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1070,"y":500,"wires":[]},{"id":"ffd38293.9050c","type":"function","z":"ea35e341.ecc0e8","name":"","func":"var input1 = msg.payload.status; //payload.status\nvar led = 0;\nif (input1 === \"ON\"){\n    led = 1;\n}\nelse if (input1 === \"OFF\")  \n{\n    led = 0;\n}\nmsg.payload = led;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":420,"wires":[["bc2ab902.b1939","c2dd4a22.14d64"]]},{"id":"c2dd4a22.14d64","type":"debug","z":"ea35e341.ecc0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":440,"wires":[]},{"id":"eaf9a1c9.6f2bb8","type":"json","z":"ea35e341.ecc0e8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":480,"wires":[["ffd38293.9050c","c2dd4a22.14d64"]]},{"id":"67e45071.4fe23","type":"debug","z":"ea35e341.ecc0e8","name":"Input 1 idx","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":520,"wires":[]},{"id":"ffa4462d.b63c48","type":"debug","z":"ea35e341.ecc0e8","name":"Input 2 idx","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":560,"wires":[]},{"id":"166d5363.db720d","type":"mqtt-broker","name":"","broker":"192.168.10.105","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b3eca0e0.ece028","type":"ui_group","name":"2_relay_mqtt","tab":"20ece6ee.295cd2","order":1,"disp":true,"width":"6","collapse":false},{"id":"20ece6ee.295cd2","type":"ui_tab","name":"2 Relay MQTT","icon":"dashboard","disabled":false,"hidden":false}]